@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,body {
    font-family: "Quicksand", serif;
    background-color: white;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #303952;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {

    background-color: transparent;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff7675;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1170px;
}
.max-w-screen-xl {
    max-width: 1170px;
}
.shadow-text {
    text-shadow: 2px 2px gray;
}

.modal-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50; /* Đảm bảo modal nằm trên backdrop */
    overflow-y: auto;
}


.no-scroll {
    overflow: hidden;
}
button.close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media only screen and (max-width: 600px) {
    .modal-center {
        width: 90%;
        max-height: 90vh;
    }
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;      /* Chuẩn chung (nếu được hỗ trợ) */
}