@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,body {
    font-family: "Quicksand", serif;
    background-color: white;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #303952;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {

    background-color: transparent;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff7675;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1170px;
}
.max-w-screen-xl {
    max-width: 1170px;
}
